@using Tiknas.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BadgesDemo

<tiknas-component-demo-section title="Example" view-path="@BadgesDemoViewComponent.ViewPath">
    <h1>Example heading <span tiknas-badge="Secondary">New</span></h1>
    <h2>Example heading <span tiknas-badge="Secondary">New</span></h2>
    <h3>Example heading <span tiknas-badge="Secondary">New</span></h3>
    <h4>Example heading <span tiknas-badge="Secondary">New</span></h4>
    <h5>Example heading <span tiknas-badge="Secondary">New</span></h5>
    <h6>Example heading <span tiknas-badge="Secondary">New</span></h6>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Notifications" view-path="@BadgesDemoViewComponent.ViewPath">
    <tiknas-button button-type="Primary">
        Notifications <span tiknas-badge="Light">4</span>
    </tiknas-button>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Contextual variations" view-path="@BadgesDemoViewComponent.ViewPath">
    <span tiknas-badge="Primary">Primary</span>
    <span tiknas-badge="Secondary">Secondary</span>
    <span tiknas-badge="Success">Success</span>
    <span tiknas-badge="Danger">Danger</span>
    <span tiknas-badge="Warning">Warning</span>
    <span tiknas-badge="Info">Info</span>
    <span tiknas-badge="Light">Light</span>
    <span tiknas-badge="Dark">Dark</span>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Pill badges" view-path="@BadgesDemoViewComponent.ViewPath">
    <span tiknas-badge-pill="Primary">Primary</span>
    <span tiknas-badge-pill="Secondary">Secondary</span>
    <span tiknas-badge-pill="Success">Success</span>
    <span tiknas-badge-pill="Danger">Danger</span>
    <span tiknas-badge-pill="Warning">Warning</span>
    <span tiknas-badge-pill="Info">Info</span>
    <span tiknas-badge-pill="Light">Light</span>
    <span tiknas-badge-pill="Dark">Dark</span>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Links" view-path="@BadgesDemoViewComponent.ViewPath">
    <a href="#" tiknas-badge="Primary">Primary</a>
    <a href="#" tiknas-badge="Secondary">Secondary</a>
    <a href="#" tiknas-badge="Success">Success</a>
    <a href="#" tiknas-badge="Danger">Danger</a>
    <a href="#" tiknas-badge="Warning">Warning</a>
    <a href="#" tiknas-badge="Info">Info</a>
    <a href="#" tiknas-badge="Light">Light</a>
    <a href="#" tiknas-badge="Dark">Dark</a>
</tiknas-component-demo-section>